#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container {
  width: 100vw;
  height: 100vh;
  background: #aaccff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container select {
  width: 100%;
}

.threeDee {
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
  transition: transform 300ms, filter 300ms;
}

.paper {
  background: pink;
  padding: 30px;
}

.paper.dark {
  background: linear-gradient(pink, darken(pink, 6%), pink);
}

.fold {
  transition: transform 400ms;
  backface-visibility: hidden;
}

.inside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  z-index: -1;
}

.topside {
  z-index: 1;
  transform-origin: bottom;
}

.bottomside {
  transform-origin: top;
  transform: rotateX(180deg) translateX(-1px);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.fold.flipped {
  transform: rotateX(-180deg);
}

.bottomside.flipped {
  transform: none;
}

/* .threeDee:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}

.threeDee:hover .topside {
  transform: rotateX(-180deg);
}

.threeDee:hover .bottomside {
  transform: none;
} */
